@model IEnumerable<MovieHub.ViewModels.AllMoviesViewModel>
@{
	ViewData["Title"] = "Heloo";
}

<div class="text-center row">
    @foreach (var movie in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <img src="@movie.ImgURL">
                <h5 class="card-title mt-1">@movie.Name</h5>
                <p class="mb-0"><span class="fw-bold">Starting time: </span>@movie.CreatedOn</p>
                <p class="mb-0"><span class="fw-bold">Duration: </span>@movie.MovieLength</p>
                <p class="mb-0"><span class="fw-bold">Category: </span>
                    <ul>
                        @foreach (var item in movie.Categories)
                    {
                        <li>@item</li>
                    }
                    </ul>
                </p>
            </div>

            <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@movie.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>
            <form class="input-group-sm " asp-controller="Movie" asp-action="RemoveLike" asp-route-id="@movie.Id">
                    <input type="submit" value="Remove Like" class="fs-6 btn btn-warning mb-3 w-100 p-3 fw-bold" />
                </form>
           @* @if (User.Identity.Name == movie.Organiser)
            {
                <a asp-controller="Event" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
            }
            else
            {
                
                <form class="input-group-sm " asp-controller="Library" asp-action="RemoveLike" asp-route-id="@movie.Id">
                    <input type="submit" value="Like" class="fs-6 btn btn-warning mb-3 w-100 p-3 fw-bold" />
                </form>
            }*@
        </div>
    }
</div>